{{ define "layouts/public-base" }}
<!DOCTYPE html>

<html>

<head>
	<meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett">
	<link rel="shortcut icon" href="/static/goose-home.svg" />

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{- block "title" . }}No Title !!{{ end }} - UWECECA</title>

	<link rel="stylesheet" href="/static/bootstrap.min.css">
	<script src="/static/popper.min.js"></script>
	<script src="/static/bootstrap.min.js"></script>

	<script src="/static/htmx.min.js"></script>
</head>

<body class="d-flex flex-column min-vh-100 bg-light">
	<nav class="navbar navbar-expand-lg">
		<div class="container-md">
			<a class="navbar-brand fw-bold">UWaterloo ECE</a>

			<div>
				{{ if not .current_user }}
				<a class="btn btn-outline-dark" href="/login">Login</a>
				{{ else }}
				<div class="dropdown">
					<button class="btn dropdown-toggle" data-bs-toggle="dropdown">{{ .current_user.Name }}</button>

					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/site">Your Blog</a></li>
						<li><a class="dropdown-item" href="/logout">Logout</a></li>
					</ul>
				</div>
				{{ end }}
			</div>
		</div>
	</nav>
	<main class="container-md flex-grow-1 d-flex flex-column">
		{{ block "content" . }}{{ end }}
	</main>
</body>

</html>
{{ end }}
