{{ define "title" }}{{ .Variant}}{{ end }}

{{ define "content" }}
<div class="flex flex-column align-items-center flex-grow-1 justify-content-center m-0 mx-sm-4">
	<div class="mx-auto mt-5 col-sm-12 col-md-6">
		<h2 class=" fs-3 mb-3">{{ .Variant }}:</h2>
		<div id="auth-alert-target"></div>
		{{ if eq .Variant "Login" }}
		<form hx-post="/login">
			<div class="mb-3">
				<label for="loginEmail" class="form-label">Email:</label>
				<input type="email" class="form-control" id="loginEmail" aria-describedby="login">
			</div>

			<div class="mb-3">
				<label for="loginPassword" class="form-label">Password:</label>
				<input type="password" class="form-control" id="loginPassword" aria-describedby="login">
			</div>

			<button class="btn btn-dark w-100 mt-4" onclick="submit">Login</button>

			<p class="text-center mt-3">Don't Have an Account? <a href="/signup">Sign Up Instead</a></p>
		</form>
		{{ end }}
		{{ if eq .Variant "Signup" }}
		<form hx-post="/signup">
			<div class="mb-3">
				<label for="signupEmail" class="form-label">Waterloo Email:</label>
				<input type="email" class="form-control" id="signupEmail" aria-describedby="login">
			</div>

			<div class="mb-3">
				<label for="signupPassword" class="form-label">Password:</label>
				<input type="password" class="form-control" id="signupPassword" aria-describedby="login">
			</div>

			<div class="mb-3">
				<label for="signupPasswordConfirm" class="form-label">Confirm Password:</label>
				<input type="password" class="form-control" id="signupPasswordConfirm" aria-describedby="login">
			</div>

			<button class="btn btn-dark w-100 mt-4" onclick="submit">Login</button>

			<p class="text-center mt-3">Already have an account? <a href="/login">Login Instead</a></p>
		</form>
		{{ end }}

	</div>
</div>
{{ end }}
