{{ define "public/new-blog-response" }}
<div></div>
<div hx-swap-oob="true" id="inner"
	class="flex flex-column align-items-center flex-grow-1 justify-content-center m-0 mx-sm-4">
	<div class="mx-auto mt-5 col-sm-12 col-md-6">
		<h2 class="fs-3 mb-3">Awesome!</h2>
		<p>We are glad you were able to sign up with us. Currently, we do not have access to uwaterloo oauth signin,
			so this final step is to wait for manual verification (around 24hrs). You should recieve confirmation when
			your site goes online.</p>
		<a class="btn btn-warning" href="/">Back Home</a>
	</div>
</div>
{{ end }}
