{{ define "title" }}New Blog{{ end }}

{{ define "content" }}
<div id="inner" class="flex flex-column align-items-center flex-grow-1 justify-content-center m-0 mx-sm-4">
	<div class="mx-auto mt-5 col-sm-12 col-md-6">
		<h2 class=" fs-3 mb-3">New Blog:</h2>
		<div id="error-target">
		</div>
		<form hx-post="/new-blog" hx-target="#error-target" , hx-swap="innerHTML">
			<div class="mb-3">
				<label for="name" class="form-label">Name:</label>
				<input type="text" class="form-control" id="name" name="Name" required aria-described-by="name"
					value="{{ .name }}">
				<div id="nameHelp" class="form-text">Your preferred name for {name}.{year}.uwece.ca.</div>
			</div>

			<div class="mb-3">
				<label for="year" class="form-label">Grad Year:</label>
				<select id="year" class="form-select" name="Year" aria-label="grad year">
					<option selected value="30">2030</option>
					<option value="29">2029</option>
					<option value="28">2028</option>
					<option value="27">2027</option>
					<option value="26">2026</option>
				</select>
			</div>

			<button class="btn btn-dark w-100 mt-4" onclick="submit">Create</button>
		</form>
	</div>
</div>
{{ end }}
